<h1>PROGRAMMA</h1>
<p>Dit is het programma van Prometheus. Ben je geïnteresseerd in onze vereniging? Kom gerust een keer langs bij een lezing op een woensdagavond of tijdens de EL CID die elk jaar in augustus gehouden wordt. Je kunt ook altijd contact op nemen met het bestuur als je vragen hebt over een activiteit.</p>
